# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
# macOS
*DS_Store

# custom
tmp/
data/
output/
outputs/
**/wandb/
config/config.yaml
config/credentials.json
config/token.json
nohup.out
preprocess/results/
preprocess_minseo/1.BERT-based-relabeling/results/
preprocess_minseo/1.BERT-based-relabeling/checkpoint/
preprocess_minseo/1.BERT-based-relabeling/wandb/